body {
    background-color: #f5f5dc;
}
textarea {
    resize: none;
    margin-bottom: 10px;
}
a:hover {
    text-decoration:none;
}
.dropdown-toggle::after {
    display:none;
}
#div_posts {
    border: 1px solid #eeeeee; 
    height: 75%;
    padding: 10px;
    box-shadow: 5px 10px 8px #dddddd;
    background-color: #ffffffe7;
}
#div_post_input {
    padding:10px; 
    border: 1px solid #eeeeee; 
    box-shadow: 3px 3px 3px #dddddd;
    background-color: #ffffff;
}
.div_post {
    margin-top: 12px;
    padding:10px; 
    border: 1px solid #eeeeee; 
    word-wrap: break-word;
    box-shadow: 3px 3px 3px #dddddd;
    background-color: #ffffff;
}
.shadow {
    box-shadow: 3px 3px 3px #dddddd;
}
#me_card {
    box-shadow: 3px 5px 5px #aaaaaa;
}
#userSide {
    margin-top: 100px;
    position: fixed;
    width: 25%;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}
.per_card {
    margin-bottom: 10px;
}
.div_follow {
    margin-bottom: 10px;
}
.follow_btn {
    width:120px;
}
.line {
    border-top: 1px solid #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dropbtn {
    border: 1px solid #ffffff;
    font-size: 16px;
    border: none;
    float: right;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
/*.dropdown:hover .dropbtn {background-color: #dddddd;}*/

.div_pic_name {
    display: flex;
}

.comment-collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 15px;
}
/* Style the collapsible content. Note: hidden by default */
.comment-content {
    border: 1px solid #eeeeee; 
    padding: 5px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 600px;
}
div.post-comments {
    border-top: 1px solid #dddddd;
    padding-top: 5px;
}
.comment-form {
    display:flex;
}
.div_comment_form {
    border-top: 1px solid #dddddd;
    padding: 5px;
    display:flex;
}
#button_post_div {
    margin-top:10px;
}
/*Account Settings*/
#editImagePasswordButton > button {
    margin: 10px;
}
div#flashMessage.message.error {
    color: red;
}
div#flashMessage.message.success {
    color: green;
}
a.post-view-link > div.div_post > p{
    color: black;
}
.white {
    color:#ffffff;
}
/*Post*/
  
/*Override from bootstrap*/
.dropleft .dropdown-toggle::before {
    display: none;
}  
.dropleft .dropdown-toggle {
    vertical-align: 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.profile {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
}
.post_img {
    width: 200px;
}
.comment_form_img {
    border-radius: 50%;
    width: 40px;
}
.image-cropper {
    width: 130px;
    height: 130px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.cropper-comment-form {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.cropper-profile {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.pic {
    display: inline;
    margin: 0 auto; 
    height: 100%;
    width: auto;
}